#title {
  font-family: "Bungee", sans-serif;
  font-weight: bold;
  font-size: 50px;
  font-style: normal;
  color: #4CAF50;
  background-color: rgb(253, 245, 235);
  padding: 23px;
  border: 2px solid #4CAF50;
  text-align: center;
}

p {
  font-family: "Bungee", sans-serif;
}

#container {
  display: flex;
  justify-content: left;
  margin-right: 3px;
  max-width: 100%;
  gap: 50px;
}

#buttons-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  max-width: 50%;
  margin-left: 10px;
  margin-top: 100px;
}

img {
  width: 610px;
  height: auto;
  border-radius: 20px;
  display: block;
  margin-top: 60px;
  margin-left: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  background-color: rgb(253, 245, 235);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.pokemon-item {
  text-align: center;
  background-color: #ffffff;
  padding: 10px;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.pokemon-item:hover {
  transform: scale(1.05);
}

.pokemon-item img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 50%;
  background-color: #e9f5e9;
  border: 3px solid #4CAF50;
  transition: transform 0.3s, box-shadow 0.3s;
}

.pokemon-item img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.pokemon-item p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  color: #2F4F2F;
  margin: 0;
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
}

#pokemon-details {
  font-family: "Arial", sans-serif;
  padding: 40px;
  border-radius: 20px;
  width: 600px;
  height: 400px;
  margin: 25px auto;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  color: #333;
  border: 2px solid #4CAF50;
  background-color: white;
}

#pokemon-details h2 {
  font-family: "Bungee", sans-serif;
  font-size: 36px;
  color: white;
  margin-top: 1px;
  text-transform: uppercase;
  background-color: #4CAF50;
  border: black solid 3px;
  padding: 8px;
  text-align: center;
}

#pokemon-details img {
  width: 168px;
  height: auto;
  border-radius: 3px;
  border: 3px solid black;
  margin-top: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-left: 30px;
  position: relative;
  top: 60px;
  background-color: white;
}

#pokemon-details img:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#pokemon-details ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 120px;

}

#pokemon-details ul li {
  font-size: 18px;
  font-weight: 500;
  color: black;
  text-align: center;
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
  font-weight: bold;
  top: -190px;
  left: 140px;
  /* line-height: 23px; */

  /* Ajout des styles pour les cases */
  border: 2px solid #000; /* Bordure noire */
  background-color: white; /* Fond gris clair */
  padding: 10px; /* Espace autour du texte */
  border-radius: 8px; /* Coins arrondis */
  width: 200px; /* Largeur des cases */
  margin: 10px auto; /* Espacement entre les cases */
  font-weight: bold;
}

